@charset "UTF-8";
.logo {
  display: flex;
  justify-content: center;
  box-shadow: 10px 0px 5px grey;
  margin: 0%;
  padding: 5% 0% 3% 0%;
  position: relative;
}
.logo .logo__img {
  width: 40%;
  height: 100%;
}
@media screen and (min-width: 1023px) {
  .logo .logo__img {
    width: 20%;
  }
}

.mainHead {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.mainHead__locality {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 3%;
  font-weight: bolder;
  color: #4c4c4c;
}
.mainHead__locality__icon {
  margin-right: 2%;
}
.mainHead__explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 1em 15% 1em 15%;
  text-align: center;
  font-size: 150%;
  font-weight: 700;
}
.mainHead__explore__text {
  margin-top: 0%;
  color: #676767;
  font-weight: 100;
}
.mainHead__explore__button {
  margin-top: 2%;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  color: white;
  border: none;
  border-radius: 50px;
  padding: 1em 2em 1em 2em;
  margin-bottom: 5%;
  font-size: large;
}
@media screen and (min-width: 1023px) {
  .mainHead__explore__button {
    font-size: 0.9em;
  }
}
.mainHead__explore__button:hover {
  box-shadow: 0px 7px 7px rgba(5, 5, 5, 0.5);
  background: linear-gradient(rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
}

.functionality {
  margin: 0% 0% 10% 0%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1023px) {
  .functionality {
    margin: 0% 0% 3% 0%;
  }
}
.functionality__title {
  font-size: 180%;
  font-weight: 700;
  padding-left: 2%;
}
.functionality__buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
@media screen and (min-width: 1023px) {
  .functionality__buttons {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3%;
  }
}
.functionality__buttons__bloc {
  display: flex;
  align-items: center;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #eaeaea;
  border-radius: 25px;
  border-style: none;
  width: 85%;
  padding: 3%;
  margin: 3% 3% 3% 0%;
  font-size: 100%;
  font-weight: 700;
  box-shadow: 5px 5px 5px rgb(214, 209, 209);
}
.functionality__buttons__bloc:hover {
  box-shadow: 0px 7px 7px rgba(5, 5, 5, 0.5);
  background-color: rgba(246, 246, 246, 0.8);
}
.functionality__buttons__bloc__text {
  position: absolute;
  background-color: rgb(147, 86, 220);
  color: white;
  border-radius: 50%;
  width: 1em;
  padding: 1%;
  margin: 0% 0% 0% -5%;
}
@media screen and (min-width: 1023px) {
  .functionality__buttons__bloc__text {
    margin: 0% 0% 0% -2%;
  }
}
.functionality__buttons__bloc__icon {
  font-size: 150%;
  color: rgb(109, 109, 109);
  margin: 0.5em 1em 0.5em 1em;
}
.functionality__buttons__bloc__icon:hover {
  color: rgb(147, 86, 220);
}

.restaurants {
  background-color: #f1f1f1;
  padding: 5% 2% 5% 2%;
}
.restaurants__title {
  font-size: 180%;
  font-weight: 700;
  padding-left: 2%;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}
@media screen and (min-width: 1023px) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3%;
  }
}
.restaurants__cards__bloc {
  position: relative;
  background-color: white;
  margin: 2%;
  border-radius: 10px;
  text-decoration: none;
}
.restaurants__cards__bloc__tag {
  transition: all 300ms ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  top: 5%;
  left: 75%;
  padding: 2% 3% 2% 3%;
  border-radius: 5px;
  font-weight: bolder;
}
@media screen and (min-width: 800px) {
  .restaurants__cards__bloc__tag {
    left: 80%;
  }
}
@media screen and (min-width: 1023px) {
  .restaurants__cards__bloc__tag {
    left: 80%;
    padding: 1% 2% 1% 2%;
  }
}
.restaurants__cards__bloc__img {
  width: 100%;
  max-height: 13em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.restaurants__cards__bloc__info {
  display: flex;
  width: auto;
  color: black;
}
.restaurants__cards__bloc__text {
  margin-left: 5%;
  font-size: larger;
  line-height: 2%;
  width: 100%;
}
.restaurants__cards__bloc__icon {
  overflow: hidden;
  width: 1.5em;
  height: 1em;
  font-size: 200%;
  margin: 0% 5% 0% 0%;
}
.restaurants__cards__bloc__icon__empty:hover {
  display: none;
}
.restaurants__cards__bloc__icon__full {
  color: rgb(147, 86, 220);
}

.return__link {
  position: absolute;
  margin-left: -85%;
  margin-top: -1%;
  color: black;
}

.restaurant__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 20rem;
}

.restaurant {
  border-radius: 30px 30px 0px 0px;
  background-color: #f1f1f1;
  padding: 0% 2% 0% 2%;
  text-align: center;
  position: relative;
  top: -6em;
}
@media screen and (min-width: 1023px) {
  .restaurant {
    margin: 0% 10% 0% 10%;
    padding: 0% 15% 0% 10%;
    top: -4em;
  }
}
.restaurant .restaurant__title {
  display: flex;
  justify-content: center;
  font-family: "shrikhand", cursive;
  font-size: 200%;
  font-weight: lighter;
  padding: 5% 0% 0% 0%;
}
.restaurant .restaurant__title__icon {
  height: 1em;
  width: 1em;
  overflow: hidden;
  margin-left: 0.5em;
}
.restaurant .restaurant__title__icon__empty:hover {
  display: none;
}
.restaurant .restaurant__title__icon__full {
  color: #9356dc;
}
@media screen and (min-width: 1023px) {
  .restaurant .restaurant__title {
    text-align: center;
  }
}
.restaurant .menu {
  text-align: start;
  background-color: white;
  background-color: #f1f1f1;
  margin: 0% 0% 10% 0%;
}
.restaurant .menu__text {
  display: flex;
  flex-direction: column;
}
.restaurant .menu__card {
  display: flex;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 10px rgb(165, 164, 164);
  line-height: 15%;
  width: 100%;
  text-align: start;
  border: none;
  font-size: large;
}
.restaurant .menu__card::after {
  content: "✓";
  content-visibility: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 0% 10% 10% 0%;
  margin: 0% 0% 0% 0%;
  width: 0%;
  transition: 300ms;
}
.restaurant .menu__card:hover::after {
  height: 4em;
  width: 6em;
}
@media screen and (min-width: 1023px) {
  .restaurant .menu__card {
    margin: 0% 1% 3% 1%;
  }
}
.restaurant .menu__card__info {
  padding: 0% 0% 0% 2%;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
  text-overflow: ellipsis;
}
.restaurant .menu__card__price {
  font-weight: bolder;
  margin-top: 2.5em;
  padding-right: 2%;
}
.restaurant .menu__card__icon {
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

.section {
  background-color: #16a085;
  height: 500px;
  line-height: 500px;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.loader_quart {
  border-radius: 50px;
  border: 5px solid rgba(255, 255, 255, 0.4);
}

.loader-quart:hover {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FFF;
  animation: spin 1s linear infinite;
}

* {
  font-family: "roboto", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

body {
  margin: 0%;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 0% 0% 10% 5%;
  color: white;
}
@media screen and (min-width: 1023px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    padding: 2% 2% 2% 5%;
  }
}
.footer .footer__title {
  font-family: "shrikhand", cursive;
  font-weight: lighter;
}
.footer__text {
  display: grid;
  grid-gap: 10%;
}
@media (min-width: 1023px) {
  .footer__text {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer__text__link {
  color: white;
  text-decoration: none;
}
.footer__text__icon {
  width: 1.5em;
}/*# sourceMappingURL=style.css.map */