// ? Imports
@use "./partial/_header";
@use "./partial/_main";
@use "./partial/_footer";
@use "./partial/loader";
@use "../restaurants/_menu";
@use "../animation/_anim";

// ? Global
* {
  font-family: "roboto", sans-serif;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}
body {
  margin: 0%;
}




