// ? Variables
$primary__color: #9356dc;
$secondary__color: #ff79da;
$tertiary__color: #99e2d0;

// ? Loader
// ? les 2 balises donne le style et la position du loader
.section__loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary__color;
    opacity: 0.8;
    line-height: 500px;
    // ? animation permet de faire disparaitre le loader grace a forward qui garde l'animation dans son etat final
    animation: hideloader 2000ms forwards;
    z-index: 1;
  }
  @keyframes hideloader {
    0% {
      opacity: 1;
      display: flex;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  
  .loader {
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  
    &__text {
      display: flex;
      justify-content: center;
      
      &__letter {
        color: white;
        font-size: 3em;
        text-align: center;
        animation: grow 1.5s linear 0s infinite;

        &__h {
          color: white;
          font-size: 3em;
          text-align: center;
          animation: grow 1.5s linear 0.1s infinite;
        }
        &__a {
          color: white;
          font-size: 3em;
          text-align: center;
          animation: grow 1.5s linear 0.2s infinite;
        }
        &__r {
          color: white;
          font-size: 3em;
          text-align: center;
          animation: grow 1.5s linear 0.3s infinite;
        }
        &__g {
          color: white;
          font-size: 3em;
          text-align: center;
          animation: grow 1.5s linear 0.4s infinite;
        }
        &__e {
          color: white;
          font-size: 3em;
          text-align: center;
          animation: grow 1.5s linear 0.5s infinite;
        }
        &__m {
          color: white;
          font-size: 3em;
          text-align: center;
          animation: grow 1.5s linear 0.6s infinite;
        }
        &__e {
          color: white;
          font-size: 3em;
          text-align: center;
          animation: grow 1.5s linear 0.7s infinite;
        }
        &__n {
          color: white;
          font-size: 3em;
          text-align: center;
          animation: grow 1.5s linear 0.8s infinite;
        }
        &__t {
          color: white;
          font-size: 3em;
          text-align: center;
          animation: grow 1.5s linear 0.9s infinite;
        }
      }

      @keyframes grow {
        0% {
          transform: scaleY(0);
          opacity: 0;
        }
        50% {
          transform: scaleY(1);
          opacity: 1;
        }
        100% {
          transform: scaleY(0);
          opacity: 0;
        }
      }
    }
  
    //! ANIMATION
    .loader_quart {
      border-radius: 150px;
      border: 10px solid rgba(255, 255, 255, 0.4);

      // ?  ::after permet de creer un élément qui sera la partie animé du loader
      &::after {
        content: "";
        // ? en position absolute je peux ensuite appliquer le loader a toout le viewport
        position: absolute;
        top: -10px;
        left: -10px;
        bottom: -10px;
        right: -10px;
        border-radius: 150px;
        // ? astuce pour donner des extrémités droites a la barre car le radius les rends triangulaires
        border: 10px solid transparent;
        // ? la couleur est transparente et ensuite le border top affiche la partier qui s'anime
        border-top-color: #fff;
        // ? je passe mon keyframe dans l'animation et j'ajoute les propriétés d'animation supplémentaires
        animation: rotate 1s linear infinite;
      }

      // ? animation rotate permet de faire tourner le loader
      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }