$background__grey: #e4dddd;
$background__darkgrey: #f1f1f1;
$primary__color: #9356dc;
$secondary__color: #ff79da;
@mixin flex__center {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

// MainHead
.mainHead {
  @include flex__center;

  &__locality {
    display: flex;
    justify-content: center;
    background-color: $background__grey;
    padding: 3%;
    font-weight: bolder;
  }
  &__locality__icon {
    margin-right: 2%;
  }

  &__explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background__darkgrey;
    padding: 1em 15% 1em 15%;
    text-align: center;
    font-size: large;
    &__title {
      font-weight: bolder;
    }
    &__text {
      margin-top: 0%;
      color: grey;
    }
    &__button {
      margin-top: 2%;
      background: linear-gradient($secondary__color, $primary__color);
      color: white;
      border: none;
      border-radius: 50px;
      padding: 1em 2em 1em 2em;
      margin-bottom: 5%;
    }

}




.restaurants {
    &__cards__bloc__img {
        width: 20%;
        height: 20%;
    }
}
}