// ? Variables
$primary__color: #9356dc;
$secondary__color: #ff79da;
$tertiary__color: #99e2d0;
$background__grey: #eaeaea;
$background__darkgrey: #f1f1f1;

// ? Mixins
@mixin button__shadow__off {
  transition: all 300ms ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
@mixin logo_and_title_font {
  font-family: "shrikhand", cursive;
  font-size: 200%;
  font-weight: lighter;
}
@mixin active_button {
  &::after {
    content: "✓";
    content-visibility: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary__color;
    border-radius: 0% 10% 10% 0%;
    margin: 0% 0% 0% 0%;
    width: 0%;
    transition: 300ms;
  }
}

// ? MainHead
.return__link {
  position: absolute;
  margin-left: -85%;
  margin-top: -1%;
  color: black;
}

.restaurant__img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
}

.restaurant {
  border-radius: 30px 30px 0px 0px;
  background-color: $background__darkgrey;
  padding: 0% 2% 0% 2%;
  text-align: center;
  // partie du main qui chevauche le header
  position: relative;
  top: -6em;

  @media screen and (min-width: 1023px) {
    margin: 0% 10% 0% 10%;
    padding: 0% 15% 0% 10%;
    top: -4em;
  }

  .restaurant__title {
    display: flex;
    justify-content: center;
    @include logo_and_title_font;
    padding: 5% 0% 0% 0%;

    &__icon {
      height: 1em;
      width: 1em;
      overflow: hidden;
      margin-left: 0.5em;

      &__empty {
        &:hover {
          display: none;
        }
      }

      &__full {
        color: $primary__color;
      }
    }

    @media screen and (min-width: 1023px) {
      text-align: center;
    }
  }

  .menu {
    text-align: start;
    background-color: white;
    background-color: $background__darkgrey;
    margin: 0% 0% 10% 0%;
    animation: showmenu 5000ms forwards;

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__card {
      display: flex;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0px 5px 10px rgb(165, 164, 164);
      line-height: 15%;
      width: 100%;
      text-align: start;
      border: none;
      font-size: large;

      // ? animation de validation
      @include active_button;

      &:hover {
        &::after {
          height: 4em;
          width: 6em;
        }
      }

      @media screen and (min-width: 1023px) {
        margin: 0% 1% 3% 1%;
      }

      &__info {
        //! ajouter les 3 poiunts quand le texte est trop long
        padding: 0% 0% 0% 2%;
        overflow: hidden;
        white-space: nowrap;
        width: 85%;
        text-overflow: ellipsis;
      }

      &__price {
        font-weight: bolder;
        margin-top: 2.5em;
        padding-right: 2%;
      }

      // &__checked {
      //   background-color: #99e2d0;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   width: 0%;
      //   height: 4em;
      //   margin-left: 1em;
      //   border-radius: 0px 10px 10px 0px;

      //   &:hover {
      //     width: 30%;
      //   }

      &__icon {
        color: white;
      }
    }
  }
  @keyframes showmenu {
    0% {
      opacity: 0;
      display: none;
    }
    100% {
      opacity: 1;
      display: block;
    }
  }
}
