// ? Variables
$primary__color: #9356dc;
$secondary__color: #ff79da;
$tertiary__color: #99e2d0;
$background__grey: #eaeaea;
$background__darkgrey: #f1f1f1;

// ? Mixins
@mixin button__shadow__off {
  transition: all 300ms ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

@mixin logo_and_title_font {
  font-family: "shrikhand", cursive;
  font-size: 200%;
  font-weight: lighter;
}

// ? ANIMATION DE LA VALIDATION
@mixin active_button {
  &::after {
    align-items: center;
    background-color: $tertiary__color;
    border-radius: 0% 10% 10% 0%;
    color: white;
    content: "☑";
    content-visibility: hidden;
    display: flex;
    font-size: 150%;
    justify-content: center;
    margin: 0% 0% 0% 10%;
    transition: 300ms;
    width: 0%;
  }
}

@mixin color__full_button {
  background: linear-gradient(to right top, $secondary__color, $primary__color);
}

// ? MainHead
.return__link {
  position: absolute;
  margin-left: -85%;
  margin-top: -1%;
  color: black;
}

.restaurant__img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
}
// ? Restaurant
.restaurant {
  border-radius: 30px 30px 0px 0px;
  background-color: $background__darkgrey;
  padding: 0% 2% 0% 2%;
  text-align: center;
  // partie du main qui chevauche le header
  position: relative;
  top: -6em;

  @media screen and (min-width: 1023px) {
    margin: 0% 10% 0% 10%;
    padding: 0% 15% 0% 10%;
    top: -4em;
  }

  .restaurant__title {
    display: flex;
    justify-content: center;
    @include logo_and_title_font;
    padding: 5% 0% 0% 0%;

    // ? Animation du coeur
    &__icon {
      margin: 0% 0% 0% 1em;
      // ? Position absolute pour les deux icones, et ensuite avec les hover je fait disparaitre le 1er et apparaitre le 2nd avec une transition
      &__empty {
        transition: all 300ms ease-in-out;
        position: absolute;
        &:hover {
        }
      }

      &__full {
        position: absolute;
        opacity: 0;
        transition: all 300ms ease-in-out;

        &:hover {
          opacity: 1;
          @include color__full_button;
          color: transparent;
          background-clip: text;
        }
      }
    }

    @media screen and (min-width: 1023px) {
      text-align: center;
    }
  }

  // ? Menu
  .menu {
    text-align: start;
    background-color: white;
    background-color: $background__darkgrey;
    margin: 0% 0% 10% 0%;
    animation: showmenu 2000ms forwards;

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__card {
      display: flex;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0px 5px 10px rgb(165, 164, 164);
      line-height: 15%;
      width: 100%;
      text-align: start;
      border: none;
      font-size: large;
      margin: 0% 0% 3% 0%;

      // ? ANIMATION DE LA VALIDATION
      @include active_button;

      &:hover {
        &::after {
          position: relative;
          width: 4.9em;
          border: none;
        }
      }

      @media screen and (min-width: 1023px) {
        margin: 0% 1% 3% 1%;
      }

      &__info {
        //! ajouter les 3 poiunts quand le texte est trop long
        padding: 0% 0% 0% 2%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 85%;
        animation: showmenu 3000ms forwards;
      }

      &__price {
        width: 20%;
        height: auto;
        font-weight: bolder;
        margin: 0% -9% 0% 0%;
        padding: 2em 0% 0% 0%;
        text-align: end;
        animation: showmenu 5000ms forwards;
      }
    }
  }

  @keyframes showmenu {
    0% {
      opacity: 0;
      display: none;
    }
    100% {
      opacity: 1;
      display: block;
    }
  }
}
