body {
  // background-color: rgb(7, 111, 111);
  // text-align: center;
  margin: 0;
  padding: 0;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient($secondary__color, $primary__color);
  opacity: 0.5;
  height: 500px;
  line-height: 500px;
}

.loader {
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

//! ANIMATION
.loader_quart {
  border-radius: 150px;
  border: 10px solid rgba(255, 255, 255, 0.4);

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border-radius: 150px;
    border: 10px solid transparent;
    border-top-color: #fff;
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
